<!DOCTYPE html>
<html>
<head>
    <title>Steven De Ryck - CV</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/spaces.css') }}">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" media="all">


</head>
<body class="w3-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="/static/img/steven_img_film_small.jpg" style="max-width: 250px;" alt="Avatar">
                    <div class="w3-container w3-text-black w3-center">
                        <h2 class="notbold">Steven De Ryck</h2>
                    </div>
                </div>
                <div id="divLeft" class="w3-container">

                    <!-- Personalia -->
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Web Developer</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Edegem, Belgium</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>steven@inform.be</p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>0475 582 583</p>
                    <hr>

                    <!-- Vaardigheden -->
                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Vaardigheden</b>
                    </p>
                    <p>PHP</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-purple" style="width:95%">95%</div>
                    </div>
                    <p>MySQL</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:95%">
                            <div class="w3-center w3-text-white">95%</div>
                        </div>
                    </div>
                    <p>Symfony</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-green" style="width:80%">80%</div>
                    </div>
                    <p>Python</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-red" style="width:75%">75%</div>
                    </div>
                    <br>

                    <!-- Talen -->
                    <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Talen</b>
                    </p>
                    <p>Nederlands</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-purple" style="width:100%">100%</div>
                    </div>
                    <p>Engels</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-purple" style="width:95%">95%</div>
                    </div>
                    <p>Frans</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-purple" style="width:95%">95%</div>
                    </div>
                    <p>Duits</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-purple" style="width:60%">60%</div>
                    </div>
                    <br>
                </div>
            </div>
            <br>
            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <!-- Werkervaring -->
            <div class="w3-container w3-card w3-margin-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i
                        class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Werkervaring</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Docent Full Stack Development (Backend, PHP) / Syntra Mechelen</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2015 - <span
                            class="w3-tag w3-teal w3-round">Heden</span></h6>
                    <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est
                        reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure,
                        iste.</p>
                    <hr>
                </div>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Docent Python Development / Syntra Mechelen</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2021 - <span
                            class="w3-tag w3-teal w3-round">Heden</span></h6>
                    <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est
                        reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure,
                        iste.</p>
                    <hr>
                </div>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Zaakvoerder / Inform BV</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2000 - <span
                            class="w3-tag w3-teal w3-round">Heden</span></h6>
                    <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est
                        reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure,
                        iste.</p>
                    <hr>
                </div>

            </div>

            <!-- Opleiding -->
            <div class="w3-container w3-card">
                <h2 class="w3-text-grey w3-padding-16"><i
                        class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Opleiding</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>W3Schools.com</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Eeuwigdurend...</h6>
                    <p>Alles wat je wil weten over Web Development bij elkaar!</p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Analist-Programmeur / Siemens Institute-VDAB</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>1989</h6>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>...</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>1986-1989</h6>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Politieke en Sociale Wetenschappen / KUL</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>1883-1986</h6>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Latijn-Wetenschappen / OLVE</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>1976-1982</h6>
                </div>
            </div>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>

<!-- Footer. This section contains an ad for W3Schools Spaces. You can leave it to support us. -->
<footer class="w3-container w3-teal w3-center w3-margin-top w3-margin-bottom">
    <p>Vind me op sociale media</p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <p>&nbsp;</p>
    <!-- End footer -->
</footer>

</body>
</html>
