{% extends "base.html" %}
{% block title %}Dit is de Home Page{% endblock %}
{% block jumbo %}Some homepage{% endblock %}

{% block content %}

    <div id="section1" class="container-fluid">

        <div class="row rowtitle">
            <h1 class="text-center section_head">Onze collectie</h1>
        </div>

        <div class="row flexrow">

            <div class="col-sm-4">
              <div class="kolom p-3">
                  <h1 class="text-center mb-5">Kolom 1</h1>
                  <img src="/static/img/img1.jpg" class="img-fluid" alt="Responsive image">
              </div>
            </div>

            <div class="col-sm-4">
              <div class="kolom p-3">
                  <h1 class="text-center mb-5">Kolom 2</h1>
                  <img src="/static/img/img2.jpg" class="img-fluid" alt="Responsive image">
              </div>
            </div>

            <div class="col-sm-4">
              <div class="kolom p-3">
                  <h1 class="text-center mb-5">Kolom 3</h1>
                  <img src="/static/img/img3.jpg" class="img-fluid" alt="Responsive image">
              </div>
            </div>

        </div>

    </div> <!-- end section1 -->


    <div id="section2" class="container-fluid">

        <div class="row rowtitle">
            <h1 class="text-center section_head">Nog een collectie</h1>
        </div>

        <div class="row flexrow">

            <div class="col-sm-4">
              <div class="kolom p-3">
                  <h1 class="text-center mb-5">Kolom 1</h1>
                  <img src="/static/img/img3.jpg" class="img-fluid" alt="Responsive image">
              </div>
            </div>

            <div class="col-sm-4">
              <div class="kolom p-3">
                  <h1 class="text-center mb-5">Kolom 2</h1>
                  <img src="/static/img/img1.jpg" class="img-fluid" alt="Responsive image">
              </div>
            </div>

            <div class="col-sm-4">
              <div class="kolom p-3">
                  <h1 class="text-center mb-5">Kolom 3</h1>
                  <img src="/static/img/img2.jpg" class="img-fluid" alt="Responsive image">
              </div>
            </div>

        </div>

    </div> <!-- end section2 -->


    <div id="footer" class="container-fluid">

        <div class="row flexrow">
            <div class="col-sm-12">
                  <p>
                      Dit is random tekst. Dit is random tekst. Dit is random tekst.
                      Dit is random tekst. Dit is random tekst. Dit is random tekst. Dit is random tekst.
                      Dit is random tekst. Dit is random tekst. Dit is random tekst. Dit is random tekst.
                      Dit is random tekst. Dit is random tekst. Dit is random tekst. Dit is random tekst.
                      Dit is random tekst. Dit is random tekst. Dit is random tekst. Dit is random tekst.
                      Dit is random tekst. Dit is random tekst. Dit is random tekst. Dit is random tekst.
                  </p>
            </div>
        </div>

    </div> <!-- end footer -->

{% endblock %}
